.login {
    margin-top: 10%;
}
h1 {
    text-align: center;
    font-family: Cookie;
}
.authentication {
    background-color: #0D1B2A;
    color: white;
}
body {
    background-color: #0D1B2A;
}
.blog-wizard {
    font-family: Shadows Into Light;
}