.panel-heading {
    color: white;
    text-align: center;
}
.panel-body {
    background-color:black;
    color: white;
}
h3 {
    color: darkgoldenrod;
}
body {
    background-color: black;
}
.blog {
    text-align: center;
    color: darkgoldenrod;
}
.panel-footer {
    background-color: white;
}
.quotes {
    color: white;
}
