{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body"></div>
                    <h3 class="text-center">{{blog.title}}</h3>
                    <hr>
                    <h5>By:<em>{{blog.user.username}}</em></h5>
                    {{blog.text}}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="text-center">Comments</h2>
            <hr>
            {% if comments %}
                {{macro.displayComments(comments)}}
                <a class="btn btn-success btn-lg text-center" href="/blog/comment/new/{{blog.id}}"> Write a new comment</a>
            {% else%}
                <h3 class="text-center">This blog has no comments </h3>
                <br>
                <a class="btn btn-success btn-lg text-center" href="/blog/comment/new/{{blog.id}}"> Write a new comment</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}