{% macro displayBlogs(blogs) %}

{%for blog in blogs%}

<div class="col-md-4">
    <div class="panel panel-default">
        <h4 class="panel-heading text-center text-white bg-black"><strong>{{blog.user.username}}</strong></h4>
        <div class="panel-body">
            <p><em> posted on {{blog.posted.strftime("%d %b %Y")}}</em></p>
            <strong>{{blog.title}}</strong>
            <br>
            {{blog.text}}
        </div>
        <div class="panel-footer">
            <a href="/blog/{{blog.id}}">View  details</a>
        </div>
    </div>
</div>

{% endfor %}

{% endmacro %}

{% macro displayComments(comments) %}
    {% for comment in comments %}
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 comment-card">
        <p> {{ comment.comment | truncate(30) }}</p>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4">
            <h4>Author</h4>
            <p>{{comment.user.username}}</p>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
            <h2> <a href="{{url_for('main.single_comment',id=comment.id)}}">{{comment.blog.title}}</a> </h2>
        </div>
    </div>
    
  
    {% endfor %}
{% endmacro %}