{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4 class="text-center">{{blog.title}}</h4>
                <hr>
                {{blog.text}}
            </div>
        </div>
        
    </div>
    <div class="col-md-4">
        {{ wtf.quick_form(comment_form) }}
        {{simplemde.load}}
    </div>
</div>

{% endblock %}